.backButton {
    width: 80%;
    margin: 10px auto;
    display: block;
}

.bus-info {
    text-align: center;
    margin-bottom: 20px;
}

.seating-info {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.seats-info-secured,
.seats-info-unsecured {
    width: 50%;
    height: 80px;
    justify-content: center;
    align-content: center;
}

.seats-info-secured {
    background-color: rgb(0, 128, 0);
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

.seats-info-unsecured {
    background-color: rgb(215, 0, 0);
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

@media (min-width: 320px) {
    .backButton {
        width: 90%;
    }

    .seating-info {
        width: 90%;
    }

    .seating-info {
        width: 85%;
        height: 120px;
    }

    .seats-info-secured,
    .seats-info-unsecured {
        height: 120px;
    }
}

@media (min-width: 568px) {
    .backButton {
        width: 85%;
    }

    .seating-info {
        width: 85%;
        height: 120px;
    }

    .seats-info-secured,
    .seats-info-unsecured {
        height: 120px;
    }
}

@media (min-width: 768px) {
    .backButton {
        width: 80%;
    }

    .seating-info {
        width: 80%;
        height: 100px;
        /* Ajustar altura para pantallas más grandes */
    }

    .seats-info-secured,
    .seats-info-unsecured {
        height: 100px;
    }
}

@media (min-width: 1024px) {
    .backButton {
        width: 70%;
    }

    .seating-info {
        width: 70%;
        height: 100px;
    }

    .seats-info-secured,
    .seats-info-unsecured {
        height: 100px;
    }
}

@media (min-width: 1440px) {
    .backButton {
        width: 60%;
    }

    .seating-info {
        width: 60%;
        height: 120px;
    }

    .seats-info-secured,
    .seats-info-unsecured {
        height: 120px;
    }
}