.menu-container {
    background-color: #3a3a3a;
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  @media (min-width: 320px) {
    .menu-container {
      gap: 10px;
    }
  }
  
  @media (min-width: 568px) {
    .menu-container {
      gap: 15px; 
    }
  }
  
  @media (min-width: 768px) {
    .menu-container {
      max-width: 1200px;
      gap: 20px; 
    }
  }
  
  @media (min-width: 1024px) {
    .menu-container {
      gap: 30px; 
    }
  }
  
  @media (min-width: 1440px) {
    .menu-container {
      max-width: 1400px;
      gap: 40px; 
    }
  }
  